<div class="container">
  <div *ngIf="validChecksums.length === 0">
    <div class="row mt-3">
      <p class="text-center mb-0 pb-0 lead fw-bold">&nbsp; {{displayRolls(diceRolls)}} &nbsp;</p>
    </div>
    <div class="row mt-3" *ngFor="let i of [0, 1]">
      <div class="col" *ngFor="let j of [0, 1, 2, 3]">
        <div class="d-grid">
          <button class="btn btn-primary" type="button" (click)="addEntropy(4*i + j)">{{4*i + j + 1}}</button>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group mt-3">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let word of words; let i = index">
      <span class="badge bg-success rounded-pill">#{{i + 1}}</span>
      {{word.index}} => {{word.label}}
      <span class="badge bg-primary rounded-pill">{{displayRolls(word.rolls)}}</span>
    </li>
  </ul>
  <div *ngIf="validChecksums.length !== 0">
    <div class="row mt-3">
      <p class="text-center mb-0 pb-0 lead fw-bold">Valid Checksums</p>
    </div>
    <ul class="list-group mt-3 mb-3">
      <li class="list-group-item text-center" *ngFor="let checksum of validChecksums">{{checksum}}</li>
    </ul>
  </div>
</div>
